<form [formGroup]="incomeForm" class="grid">
  <div class="col-12 flex">
    <div class="w-full">
      <span class="p-float-label">
        <p-autoComplete formControlName="payer" id="payer" inputId="payer" [suggestions]="filteredPayers" (completeMethod)="autoComplete($event)" class="w-full" styleClass="w-full" inputStyleClass="w-full"></p-autoComplete>
        <label for="payer">Payer</label>
      </span>
    </div>
  </div>
  <div class="col-12 flex">
    <div class="w-full">
      <span class="p-float-label">
        <p-inputNumber mode="currency" currency="USD" locale="en-US" id="amount" inputId="amount" class="w-full"  styleClass="w-full" inputStyleClass="w-full" formControlName="amount"></p-inputNumber>
        <label for="amount">Amount</label>
      </span>
    </div>
  </div>
</form>
<div class="flex justify-content-between mt-1">
  <div class="w-full">
    <button [disabled]="!incomeForm.valid" pButton (click)="saveIncome()" label="Save"></button>
  </div>
</div>
