@if (loading) {
  <div class="flex justify-content-around mb-2">
    <p-skeleton width="5rem"></p-skeleton>
    <p-skeleton width="5rem"></p-skeleton>
  </div>
  <p-skeleton class="flex justify-content-center" shape="circle" size="15rem"></p-skeleton>
}
@if (!loading && !noData) {
  <p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
}
@if (!loading && noData) {
  <div class="flex align-items-center justify-content-center">
    <p>No income and expenses for this month yet!</p>
  </div>
}
<div class="flex justify-content-center mt-1">
  <p-select [(ngModel)]="selectedMonthYear" [options]="monthYearOptions" (onChange)="monthYearChanged()"></p-select>
</div>
