<form [formGroup]="fgBudgetItem" class="flex flex-column">
  <span class="p-float-label">
    <input pInputText formControlName="name" id="name" maxlength="16" minlength="3"/>
    <label for="name">Name</label>
  </span>
  <span class="p-float-label my-3">
    <p-inputNumber mode="currency" currency="USD" formControlName="amount" id="amount" [min]="0"/>
    <label for="amount">Amount</label>
  </span>
  <button [disabled]="!fgBudgetItem.valid" pButton (click)="emitSave();" icon="pi pi-save"></button>
</form>
