<div class="grid">
  <div class="md:col-6 col-12">
    <ng-container *ngIf="billsMonthYears$ | async as billMonthYears">
      <p-dropdown [options]="billMonthYears" [(ngModel)]="selectedMonthYear" (onChange)="monthYearSelectedEvent(selectedMonthYear)"></p-dropdown>
      <button (click)="monthYearPanel.show($event)" pButton class="p-button-text" icon="pi pi-plus" pTooltip="New Month Year"></button>
    </ng-container>
  </div>
  <div class="md:col-6 col-12 flex md:justify-content-end">
    <button class="mr-1 p-button-plain p-button-text p-button-rounded" icon="pi pi-percentage" pButton (click)="balancePanel.show($event)" pTooltip="Add Incoming Balance"></button>
    <button class="ml-1 mr-1 p-button-plain p-button-text p-button-rounded" icon="pi pi-dollar" pButton (click)="billIncomePanel.show($event)" pTooltip="Add Income"></button>
    <button class="ml-1 mr-1 p-button-plain p-button-text p-button-rounded" icon="pi pi-building" pButton (click)="payeePanel.show($event)" pTooltip="New Payee"></button>
    <button class="ml-1 p-button-plain p-button-text p-button-rounded" icon="pi pi-money-bill" pButton (click)="billPayPanel.show($event);" pTooltip="Pay Bills"></button>
  </div>
</div>
<p-overlayPanel #billPayPanel [style]="{width: '90vw'}" (onShow)="billPayDialog = true" (onHide)="billPayDialog = false;">
  <app-bill-pay-dialog *ngIf="billPayDialog" (close)="billPayPanel.hide(); billChangedEvent()" [payees]="payees$" [bills]="bills$" [selectedMonthYear]="selectedMonthYear"></app-bill-pay-dialog>
</p-overlayPanel>

<p-overlayPanel #payeePanel>
  <app-payee-dialog (close)="payeePanel.hide(); payeeChangedEvent()"></app-payee-dialog>
</p-overlayPanel>

<p-overlayPanel #monthYearPanel>
  <app-month-year-dialog (close)="monthYearPanel.hide(); monthYearChangedEvent()"></app-month-year-dialog>
</p-overlayPanel>

<p-overlayPanel #billIncomePanel [style]="{width: '90vw'}">
  <app-bill-income-dialog (close)="billIncomePanel.hide(); incomeChangedEvent()" [selectedMonthYear]="selectedMonthYear"></app-bill-income-dialog>
</p-overlayPanel>

<p-overlayPanel #balancePanel [style]="{width: '90vw'}" (onShow)="balanceDialog = true" (onHide)="balanceDialog = false">
  <app-balance-dialog *ngIf="balanceDialog" [selectedMonthYear]="selectedMonthYear" [balance]="balance$" (close)="balancePanel.hide();"></app-balance-dialog>
</p-overlayPanel>
