<p-card>
  <div class="flex flex-wrap justify-content-between">
    <div class="flex flex-wrap gap-2">
      <div class="flex">
        <p-select styleClass="w-full" [options]="billsMonthYears" [(ngModel)]="selectedMonthYear" (onChange)="monthYearSelectedEvent(selectedMonthYear)"></p-select>
        <button (click)="monthYearPanel.show($event)" pButton class="p-button-text" icon="pi pi-plus" pTooltip="New Month Year"></button>
      </div>
      <div class="flex justify-content-around gap-3">
        <div class="flex flex-column align-items-center">
          <span>Incoming</span>
          <span style="color: green">{{incomingOutgoing.incoming | currency: 'USD'}}</span>
        </div>
        <div class="flex flex-column align-items-center">
          <span>Outgoing</span>
          <span style="color: red;">{{incomingOutgoing.outgoing | currency: 'USD'}}</span>
        </div>
        <div class="flex flex-column align-items-center">
          <span>Remaining</span>
          <span>{{incomingOutgoing.remaining | currency: 'USD'}}</span>
        </div>
      </div>
    </div>
    <div class="flex justify-content-around gap-1">
      <button class="p-button-plain p-button-text p-button-rounded" icon="pi pi-percentage" pButton (click)="balancePanel.show($event)" pTooltip="Add Incoming Balance"></button>
      <button class="p-button-plain p-button-text p-button-rounded" icon="pi pi-dollar" pButton (click)="billIncomePanel.show($event)" pTooltip="Add Income"></button>
      <button class="p-button-plain p-button-text p-button-rounded" icon="pi pi-building" pButton (click)="payeePanel.show($event)" pTooltip="New Payee"></button>
      <button class="p-button-plain p-button-text p-button-rounded" icon="pi pi-money-bill" pButton (click)="billPayDialog = true;" pTooltip="Pay Bills"></button>
    </div>
  </div>
  <p-dialog header="Pay Bills" [(visible)]="billPayDialog" [modal]="true" [contentStyle]="{'overflow-y': 'hidden'}">
    @if (billPayDialog) {
      <app-bill-pay-dialog (close)="billPayDialog = false; billChangedEvent()" [payees]="payees" [bills]="bills" [selectedMonthYear]="selectedMonthYear"></app-bill-pay-dialog>
    }
  </p-dialog>

  <p-popover #payeePanel>
    <app-payee-dialog (close)="payeePanel.hide(); payeeChangedEvent()"></app-payee-dialog>
  </p-popover>

  <p-popover #monthYearPanel>
    <app-month-year-dialog (close)="monthYearPanel.hide(); monthYearChangedEvent()"></app-month-year-dialog>
  </p-popover>

  <p-popover #billIncomePanel>
    <app-bill-income-dialog (close)="billIncomePanel.hide(); incomeChangedEvent()" [selectedMonthYear]="selectedMonthYear"></app-bill-income-dialog>
  </p-popover>

  <p-popover #balancePanel (onShow)="balanceDialog = true" (onHide)="balanceDialog = false">
    @if (balanceDialog) {
      <app-balance-dialog [selectedMonthYear]="selectedMonthYear" [balance]="balance" (close)="balancePanel.hide(); balanceChangedEvent()"></app-balance-dialog>
    }
  </p-popover>
</p-card>
