<div class="grid">
  <div class="col-12">
    <div class="grid">
      <div class="col-12 md:col-4">
        <span class="p-float-label">
          <p-inputNumber mode="currency" currency="USD" id="monthlyGrossIncome" styleClass="w-full" class="w-full" [(ngModel)]="budget.income.gross" (onBlur)="save()"></p-inputNumber>
          <label for="monthlyGrossIncome">Monthly Gross Income</label>
        </span>
      </div>
      <div class="col-12 md:col-4">
        <span class="p-float-label">
          <p-inputNumber [disabled]="true" mode="currency" currency="USD" id="hourlyGrossIncome" styleClass="w-full" class="w-full" [ngModel]="incomeHourlyGross"></p-inputNumber>
          <label for="hourlyGrossIncome">Hourly Gross Income</label>
        </span>
      </div>
      <div class="col-12 md:col-4">
        <span class="p-float-label">
          <p-inputNumber [disabled]="true" mode="currency" currency="USD" id="salaryGrossIncome" styleClass="w-full" class="w-full" [ngModel]="incomeSalaryGross"></p-inputNumber>
          <label for="salaryGrossIncome">Salary Gross Income</label>
        </span>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="grid">
      <div class="col-12 md:col-4">
        <span class="p-float-label">
          <p-inputNumber mode="currency" currency="USD" id="monthlyIncome" styleClass="w-full" class="w-full" [(ngModel)]="budget.income.net" (onBlur)="save()"></p-inputNumber>
          <label for="monthlyIncome">Monthly Net Income</label>
        </span>
      </div>
      <div class="col-12 md:col-4">
        <span class="p-float-label">
          <p-inputNumber [disabled]="true" mode="currency" currency="USD" id="hourlyNetIncome" styleClass="w-full" class="w-full" [ngModel]="incomeHourlyNet"></p-inputNumber>
          <label for="hourlyNetIncome">Hourly Net Income</label>
        </span>
      </div>
      <div class="col-12 md:col-4">
        <span class="p-float-label">
          <p-inputNumber [disabled]="true" mode="currency" currency="USD" id="salaryNetIncome" styleClass="w-full" class="w-full" [ngModel]="incomeSalaryNet"></p-inputNumber>
          <label for="salaryNetIncome">Salary Net Income</label>
        </span>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="grid">
      <div class="col-12 md:col-4">
        <span class="p-float-label">
          <p-inputNumber mode="currency" currency="USD" id="actualDebt" styleClass="w-full" class="w-full" [(ngModel)]="budget.debt" (onBlur)="save()"></p-inputNumber>
          <label for="actualDebt">Actual Debt</label>
        </span>
      </div>
      <div class="col-12 md:col-4">
        <span class="p-float-label">
          <p-inputNumber [disabled]="true" suffix="%" id="debtToIncome" styleClass="w-full" class="w-full" [ngModel]="debtToIncome"></p-inputNumber>
          <label for="debtToIncome">Debt to Income</label>
        </span>
      </div>
    </div>
  </div>
</div>
