<p-card>
  <form [formGroup]="fgBudget">
        <div class="flex flex-wrap gap-2">
          <div class="flex">
              <p-select styleClass="w-full" [options]="budgets" formControlName="name"></p-select>
              <button (click)="budgetPanelAdd.show($event)" pButton class="p-button-text" icon="pi pi-plus" pTooltip="New Budget"></button>
              <button (click)="budgetPanelCopy.show($event)" pButton class="p-button-text" icon="pi pi-copy" pTooltip="Copy Budget"></button>
              <button (click)="deleteBudget()" pButton class="p-button-text p-button-danger" icon="pi pi-trash" pTooltip="Delete Budget"></button>
          </div>
          <div class="flex justify-content-around">
            <div class="flex flex-column mx-1 align-items-center">
              <span>Need</span>
              <span>{{need.get('monthlyTotal')?.value | currency: 'USD'}}</span>
            </div>
            <div class="flex flex-column mx-1 align-items-center">
              <span>Want</span>
              <span>{{want.get('monthlyTotal')?.value | currency: 'USD'}}</span>
            </div>
            <div class="flex flex-column mx-1 align-items-center">
              <span>Extra</span>
              <span>{{extra.get('monthlyTotal')?.value | currency: 'USD'}}</span>
            </div>
            <div class="flex flex-column mx-1 align-items-center">
              <span>Unallocated</span>
              <span style="color: green">{{remaining  | currency: 'USD'}}</span>
            </div>
          </div>
        </div>
    <p-popover #budgetPanelAdd>
      <app-budget-dialog (close)="budgetPanelAdd.hide();" [fgBudget]="fgBudget" type="new"></app-budget-dialog>
    </p-popover>
    <p-popover #budgetPanelCopy >
      <app-budget-dialog (close)="budgetPanelCopy.hide();" [fgBudget]="fgBudget" type="copy">></app-budget-dialog>
    </p-popover>
  </form>
</p-card>