<form [formGroup]="fgParent" class="grid">
  <ng-container *ngIf="fgCategory.length <= 0">
    <div class="col-12"><span>No budget items!</span></div>
  </ng-container>
  <ng-container [formArrayName]="formArrayName">
      <ng-container *ngFor="let budgetItem of categoryFormGroups; let i = index">
        <ng-container [formGroup]="budgetItem">
          <div class="col-10">
            <span class="p-float-label">
              <p-inputNumber mode="currency" currency="USD" id="{{budgetItem.get('name')?.getRawValue()}}" class="w-full" styleClass="w-full" inputStyleClass="w-full" formControlName="amount"></p-inputNumber>
              <label for="{{budgetItem.get('name')?.getRawValue()}}">{{budgetItem.get('name')?.getRawValue()}}</label>
            </span>
          </div>
          <div class="col-2 flex">
            <button pButton class="p-button-text p-button-danger" icon="pi pi-trash" (click)="deleteItem(i)"></button>
          </div>
        </ng-container>
    </ng-container>
  </ng-container>
</form>
<p-overlayPanel #budgetItemPanel>
  <app-budget-category-item [fgBudget]="fgParent" [category]="formArrayName" (save)="budgetItemPanel.hide()"></app-budget-category-item>
</p-overlayPanel>
