<div class="grid">
  <ng-container *ngIf="budget[category].length <= 0">
    <div class="col-12"><span>No budget items!</span></div>
  </ng-container>
  <ng-container *ngFor="let budgetItem of budget[category]">
    <div class="col-9">
      <span class="p-float-label">
        <p-inputNumber mode="currency" currency="USD" id="{{getBudgetItemNameId(budgetItem.name)}}" inputStyleClass="w-full" [(ngModel)]="budgetItem.amount"></p-inputNumber>
        <label for="{{getBudgetItemNameId(budgetItem.name)}}">{{budgetItem.name}}</label>
      </span>
    </div>
    <div class="col-3">
      <button pButton class="p-button-text p-button-danger" icon="pi pi-trash" (click)="deleteItem(budgetItem)"></button>
    </div>
  </ng-container>
  <div class="col-offset-9 col-3">
    <button pButton class="p-button-text" icon="pi pi-plus" pTooltip="Add Item" (click)="budgetItemPanel.show($event)"></button>
  </div>
</div>
<p-overlayPanel #budgetItemPanel (onShow)="budgetItemDialog = true" (onHide)="budgetItemDialog = false">
  <app-budget-category-item *ngIf="budgetItemDialog" [budget]="budget" [category]="category" (close)="budgetItemPanel.hide(); budgetChangedEvent()"></app-budget-category-item>
</p-overlayPanel>
