<div class="grid">
  <div class="col-12">
    <p-message *ngIf="budgetRemaining" severity="info" text="{{budgetRemaining}}% left to allocate"></p-message>
  </div>
  <div class="col-12">
    <div class="grid">
      <div class="col-12 md:col-4">
        <p>Need</p>
        <span class="p-float-label">
        <p-inputNumber suffix="%" id="needDesiredPercent" styleClass="w-full" class="w-full" [(ngModel)]="budget.breakdown.need.planned" [min]="0" [max]="100 - (budget.breakdown.want.planned + budget.breakdown.extra.planned)"></p-inputNumber>
        <label for="needDesiredPercent">Planned Percent</label>
      </span>
        <span class="p-float-label mt-3">
        <p-inputNumber suffix="%" id="needActualPercent" styleClass="w-full" class="w-full" [(ngModel)]="budget.breakdown.need.actual" [disabled]="true"></p-inputNumber>
        <label for="needActualPercent">Actual Percent</label>
      </span>
        <span class="p-float-label mt-3">
        <p-inputNumber mode="currency" currency="USD" id="needSalaryUsed" styleClass="w-full" class="w-full" [(ngModel)]="budget.breakdown.need.salaryTotal" [disabled]="true"></p-inputNumber>
        <label for="needSalaryUsed">Used Salary</label>
      </span>
        <span class="p-float-label mt-3">
        <p-inputNumber mode="currency" currency="USD" id="needMonthlyUsed" styleClass="w-full" class="w-full" [(ngModel)]="budget.breakdown.need.monthlyTotal" [disabled]="true"></p-inputNumber>
        <label for="needMonthlyUsed">Used Monthly</label>
      </span>
      </div>
      <div class="col-12 md:col-4">
        <p>Want</p>
        <span class="p-float-label">
        <p-inputNumber suffix="%" id="wantDesiredPercent" styleClass="w-full" class="w-full" [(ngModel)]="budget.breakdown.want.planned" [min]="0" [max]="100 - (budget.breakdown.need.planned + budget.breakdown.extra.planned)"></p-inputNumber>
        <label for="wantDesiredPercent">Planned Percent</label>
      </span>
        <span class="p-float-label mt-3">
        <p-inputNumber suffix="%" id="wantActualPercent" styleClass="w-full" class="w-full" [(ngModel)]="budget.breakdown.want.actual" [disabled]="true"></p-inputNumber>
        <label for="wantActualPercent">Actual Percent</label>
      </span>
        <span class="p-float-label mt-3">
        <p-inputNumber mode="currency" currency="USD" id="wantSalaryUsed" styleClass="w-full" class="w-full" [(ngModel)]="budget.breakdown.want.salaryTotal" [disabled]="true"></p-inputNumber>
        <label for="wantSalaryUsed">Used Salary</label>
      </span>
        <span class="p-float-label mt-3">
        <p-inputNumber mode="currency" currency="USD" id="wantMonthlyUsed" styleClass="w-full" class="w-full" [(ngModel)]="budget.breakdown.want.monthlyTotal" [disabled]="true"></p-inputNumber>
        <label for="wantMonthlyUsed">Used Monthly</label>
      </span>
      </div>
      <div class="col-12 md:col-4">
      <p>Extra</p>
      <span class="p-float-label">
      <p-inputNumber suffix="%" id="extraDesiredPercent" styleClass="w-full" class="w-full" [(ngModel)]="budget.breakdown.extra.planned" [min]="0" [max]="100 - (budget.breakdown.need.planned + budget.breakdown.want.planned)"></p-inputNumber>
      <label for="extraDesiredPercent">Planned Percent</label>
    </span>
      <span class="p-float-label mt-3">
      <p-inputNumber suffix="%" id="extraActualPercent" styleClass="w-full" class="w-full" [(ngModel)]="budget.breakdown.extra.actual" [disabled]="true"></p-inputNumber>
      <label for="extraActualPercent">Actual Percent</label>
    </span>
      <span class="p-float-label mt-3">
      <p-inputNumber mode="currency" currency="USD" id="extraSalaryUsed" styleClass="w-full" class="w-full" [(ngModel)]="budget.breakdown.extra.salaryTotal" [disabled]="true"></p-inputNumber>
      <label for="extraSalaryUsed">Used Salary</label>
    </span>
      <span class="p-float-label mt-3">
      <p-inputNumber mode="currency" currency="USD" id="extraMonthlyUsed" styleClass="w-full" class="w-full" [(ngModel)]="budget.breakdown.extra.monthlyTotal" [disabled]="true"></p-inputNumber>
      <label for="extraMonthlyUsed">Used Monthly</label>
    </span>
    </div>
    </div>
  </div>
  <div class="col-12">
    <button [disabled]="budgetRemaining > 0" (click)="save()" label="Save" pButton></button>
  </div>
</div>
