<form class="flex py-4" [formGroup]="fgBudget">
  <div class="w-full flex justify-content-between" formGroupName="breakdown">
      <div class="flex flex-column gap-4" formGroupName="need">
        <h3 class="mt-0">Need</h3>
        <p-floatlabel class="w-full">
          <p-inputNumber suffix="%" id="needDesiredPercent" styleClass="w-full" class="w-full" formControlName="planned" [min]="0" [max]="100"></p-inputNumber>
          <label for="needDesiredPercent">Planned Percent</label>
        </p-floatlabel>
        <p-floatlabel class="w-full">
          <p-inputNumber suffix="%" id="needActualPercent" styleClass="w-full" class="w-full" formControlName="actual" ></p-inputNumber>
          <label for="needActualPercent">Actual Percent</label>
        </p-floatlabel>
        <p-floatlabel class="w-full">
          <p-inputNumber mode="currency" currency="USD" id="needSalaryUsed" styleClass="w-full" class="w-full" formControlName="salaryTotal" ></p-inputNumber>
          <label for="needSalaryUsed">Used Salary</label>
        </p-floatlabel>
        <p-floatlabel class="w-full">
          <p-inputNumber mode="currency" currency="USD" id="needMonthlyUsed" styleClass="w-full" class="w-full" formControlName="monthlyTotal" ></p-inputNumber>
          <label for="needMonthlyUsed">Used Monthly</label>
        </p-floatlabel>
      </div>
      <div class="flex flex-column gap-4" formGroupName="want">
        <h3 class="mt-0">Want</h3>
        <p-floatlabel class="w-full">
          <p-inputNumber suffix="%" id="wantDesiredPercent" styleClass="w-full" class="w-full" formControlName="planned" [min]="0" [max]="100"></p-inputNumber>
          <label for="wantDesiredPercent">Planned Percent</label>
        </p-floatlabel>
        <p-floatlabel class="w-full">
          <p-inputNumber suffix="%" id="wantActualPercent" styleClass="w-full" class="w-full" formControlName="actual" ></p-inputNumber>
          <label for="wantActualPercent">Actual Percent</label>
        </p-floatlabel>
        <p-floatlabel class="w-full">
          <p-inputNumber mode="currency" currency="USD" id="wantSalaryUsed" styleClass="w-full" class="w-full" formControlName="salaryTotal" ></p-inputNumber>
          <label for="wantSalaryUsed">Used Salary</label>
        </p-floatlabel>
        <p-floatlabel class="w-full">
          <p-inputNumber mode="currency" currency="USD" id="wantMonthlyUsed" styleClass="w-full" class="w-full" formControlName="monthlyTotal" ></p-inputNumber>
          <label for="wantMonthlyUsed">Used Monthly</label>
        </p-floatlabel>
      </div>
    <div class="flex flex-column gap-4" formGroupName="extra">
      <h3 class="mt-0">Extra</h3>
      <p-floatlabel class="w-full">
        <p-inputNumber suffix="%" id="extraDesiredPercent" styleClass="w-full" class="w-full" formControlName="planned" [min]="0" [max]="100"></p-inputNumber>
        <label for="extraDesiredPercent">Planned Percent</label>
      </p-floatlabel>
      <p-floatlabel class="w-full">
        <p-inputNumber suffix="%" id="extraActualPercent" styleClass="w-full" class="w-full" formControlName="actual" ></p-inputNumber>
        <label for="extraActualPercent">Actual Percent</label>
      </p-floatlabel>
      <p-floatlabel class="w-full">
        <p-inputNumber mode="currency" currency="USD" id="extraSalaryUsed" styleClass="w-full" class="w-full" formControlName="salaryTotal" ></p-inputNumber>
        <label for="extraSalaryUsed">Used Salary</label>
      </p-floatlabel>
      <p-floatlabel class="w-full">
        <p-inputNumber mode="currency" currency="USD" id="extraMonthlyUsed" styleClass="w-full" class="w-full" formControlName="monthlyTotal" ></p-inputNumber>
        <label for="extraMonthlyUsed">Used Monthly</label>
      </p-floatlabel>
    </div>
  </div>
</form>
