<div class="flex flex-column" *ngIf="bills$ | async as bills">
  <p *ngIf="bills.length == 0">No bills!</p>
  <ng-container *ngFor="let bill of bills">
    <ng-container *ngIf="bill | paid: false">
      <div class="flex align-items-center">
        <span class="material-symbols-outlined">
          radio_button_unchecked
        </span>
        <a (click)="pay(bill)" href="javascript:void(0);">{{bill.payee.name}}</a>
      </div>
    </ng-container>
  </ng-container>
  <ng-container>
    <hr *ngIf="bills.length > 0" />
  </ng-container>
  <ng-container *ngFor="let bill of bills">
    <ng-container *ngIf="bill | paid: true">
      <div class="flex align-items-center">
        <span class="material-symbols-outlined text-green-500">
          check_circle
        </span>
        <div class="flex">
          <a (click)="pay(bill)" href="javascript:void(0);">{{bill.payee.name}}</a>
<!--          <span class="mr-1">{{bill.payee.name}}</span>-->
          <span>-</span>
          <span class="ml-1">{{bill.amount | currency}}</span>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
